<!DOCTYPE html>
<html>
<head>
    <title>Tambah Data Maintenance</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>
    <nav>
        <a href="/">Home</a>
        <a href="/add">Tambah Data</a>
        <a href="/view">Lihat Data</a>
        <a href="/dashboard">Dashboard</a>
    </nav>
    <div class="container">
        <h1>Tambah Data Maintenance</h1>
      <form method="POST" class="form-card">
            <label>Aircraft/Component:</label><br>
            <input type="text" name="aircraft"><br>

            <label>Maintenance Task:</label><br>
            <input type="text" name="task"><br>

            <label>Status:</label><br>
            <select name="status">
                <option value="Pending">Pending</option>
                <option value="In Progress">In Progress</option>
                <option value="Completed">Completed</option>
            </select><br>

            <label>Date:</label><br>
            <input type="date" name="date"><br><br>

            <button type="submit">Simpan</button>
        </form>
    </div>
</body> 
</html>
